<nav class="sidebar-menu">
  <div class="sidebar-title">Подразделы</div>
  <ul class="sidebar-menu">
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Жизненные ценности</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Цели</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Образование</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Истории успеха</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Интересное</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Причины болезней</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Режим дня</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Любовные смс</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Выбор спутника жизни</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Вредные привычки</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Старшие</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Бог</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Человек, вера</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Духовные законы</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Служение</a></li>
    <li><a href="#"><span class="sidebar-icon">{# ...svg... #}</span> Мудрецы</a></li>
  </ul>

  <ul>
    <li><a href="#read"><span class="sidebar-icon">{# ...svg... #}</span> Прочитать</a></li>
    <li><a href="#watch"><span class="sidebar-icon">{# ...svg... #}</span> Посмотреть</a></li>
    <li><a href="#listen"><span class="sidebar-icon">{# ...svg... #}</span> Прослушать</a></li>
    <li><a href="#categories"><span class="sidebar-icon">{# ...svg... #}</span> Книги и статьи по темам</a></li>
  </ul>
</nav>

<div class="sidebar-block">
  <div class="sidebar-title">Новое</div>
  <ul>
    <li><a href="#recommended-read"><span class="sidebar-icon">{# ...svg... #}</span> Книги</a></li>
    <li><a href="#recommended-watch"><span class="sidebar-icon">{# ...svg... #}</span> Фильмы</a></li>
    <li><a href="#recommended-listen"><span class="sidebar-icon">{# ...svg... #}</span> Аудио</a></li>
  </ul>
</div>
